<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="filename">mailcradle</Property>
		<Property name="pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="fileLogger" fileName="${filename}.log" filePattern="${filename}.%i.log.gz">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.khubla.mailcradle" level="debug" additivity="false">
			<AppenderRef ref="fileLogger" />
		</Logger>
		<Logger name="org.apache.commons.configuration2" level="debug" additivity="false">
			<AppenderRef ref="fileLogger" />
		</Logger>
		<Root level="FATAL">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>

